/**{
    background-color: #93f1f4;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06747a;
}
::selection {
    background: rgb(15, 82, 121); 
    color: #fff;
}
.container {
    padding: 2rem 7rem;
    background-color: #263c46;
    background-image: linear-gradient(to bottom right, #5e7682, #0a6e87da);
    border-radius: 14px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
    
}
.image_res {
    display: flex;
    column-gap: 7rem;
    justify-content: center;
}
.container.start .user_res { 
    transform-origin: left;
    animation: usershake 0.7s ease-in-out infinite;
}
@keyframes usershake {
    50% {
        transform: rotate(10deg);
    }
}
.container.start .comp_res { 
    transform-origin: left;
    animation: compshake 0.7s ease-in-out infinite;
}
@keyframes compshake {
    50% {
        transform: rotate(10deg);
    }
}
.image_res img {
    width: 100px;
}
.user_res img { /* Adjusted class name */
    transform: rotate(90deg);
}
.comp_res img { /* Adjusted class name, and fixed rotateY typo */
    transform: rotate(-90deg) rotateY(180deg);
}
.result {
    text-align: center;
    margin-top: 2rem;
}
.result h1 {
    font-size: 3rem;
    color: black;
}
.options {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    justify-content: space-between;
}
.options img {
    width: 50px;
}
.container.start .options { /* Adjusted selector */
    pointer-events: none;
    opacity: 0.5;
}
.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.option:hover {
    opacity: 1;
}
.option.active {
    opacity: 1;
}
.option img {
    pointer-events: none;
}
.option p {
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
    pointer-events: none;
}
